* {
    font-family: 'Barlow', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
    background-color: #FFFFFF;
}


/* Estilos para textos y botones */


h1 {
    font-size: 3.375rem;
    font-weight: 700;
    margin: 0;
    padding: 0 0 1.5rem 0;
    color: #292730;
    width: 100%;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
    color: #141313;
    padding-bottom: 1.5rem;
    width: 100%;
}

h3 {
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
    width: 100%;
}

h4 {
    font-size: 1.563rem;
    font-weight: 700;
    margin: 0;
}

h5 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}

.body-lead-text {
    font-size: 1.063rem;
    font-weight: 400;
    margin: 0;
    line-height: 1.438rem;
    color: #565656;
    padding: 0 0 1.5rem 0;
}

.body-lead-text span {
    font-weight: 600;
}

.body-paragraph-input {
    font-size: 0.938rem;
    font-weight: 400;
    margin: 0;
    line-height: 1.375rem;
}

.icon-button {
    display: inline-block;
    padding: 0 0.25rem;
    align-items: center;
}

p {
    margin: 0
}



/* Estilos para el header */

header {
    height: 88px;
    position: sticky;
    top: 0;
    box-shadow: 0 1px 0px #72727238;
    background-color: #FFFFFF;
}

.header__logo {
    max-width: 160px;
    max-height: 24px;
}

.navbar {
    width: 100%;
    background-color: #ffffff;
}



/* Estilos para contenido Main */

.main__content {
    margin: 2rem 0;
}

.main__container {
    padding: 2rem 2rem;
}

.main__infopersonal {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-content: center;
}

.main__inforpersonal-title {
    width: 100%;
    font-size: 3.125rem;
    font-weight: 300;
    color: #141313;


}

.main__infopersonal h3 {
    padding: 1.5rem 0 1.5rem 0;
    line-height: 40px;
}

.main__imgpersonal {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: flex-end;
}

.imgpersonal__home {
    width: 545px;
    height: 498px;
}


.button {
    display: inline-block;
    padding: 1rem 1.5rem;
    color: #292730;
    background-color: #FCDA69;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 400;
    margin-right: 1.5rem;
    margin-top: 2rem;
    text-decoration: none;
}

.text-button {
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    color: #141313;
    padding: 0.5rem;

}




/* Media queries */




@media (min-width:992px) {
    
    .main__container-mobile {
        display: none;
    }

    
}

@media (max-width: 991px) {

    .main__content {
        margin: 1rem 0;
    }

    .main__container {
        display: none;
    }

    .main__container-mobile {
        padding: 0.5rem 0.5rem;
    }

    .main__infopersonal {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        align-content: center;
        justify-content: center;
    }

    .main__inforpersonal-title {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 2.5rem;
        font-weight: 300;
        color: #141313;

    }

    .main__infopersonal h1 {
        display: flex;
        justify-content: center;
        padding: 0 0 1rem 0;
        line-height: 3.5rem;
        font-size: 2.813rem;
        font-weight: 700;
        margin: 0;
        text-align: center;
    }

    .main__infopersonal h3 {
        display: flex;
        justify-content: center;
        padding: 1rem 0 1.5rem 0;
        line-height: 40px;
        text-align: center;
        font-size: 1.625rem;
    }


    .main__imgpersonal {
        display: flex;
        height: 100%;
        justify-content: center;
        margin: 0.5rem;
    }

    .imgpersonal__home {
        max-width: 372px;
        max-height: 344px;
    }


    .button {
        display: inline-block;
        padding: 1rem 1.5rem;
        color: #292730;
        background-color: #FCDA69;
        border-radius: 1rem;
        font-size: 1rem;
        font-weight: 400;
        margin-right: 1.5rem;
        margin-top: 2rem;
        text-decoration: none;
    }
    
    .text-button {
        display: inline-block;
        font-size: 1rem;
        font-weight: 400;
        text-decoration: none;
        color: #141313;
        padding: 0.5rem;
    
    }


}





@media (max-width: 1065px) {

    .imgpersonal__home {
        width: 445px;
        height: 398px;
    }

    .main__imgpersonal {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        justify-content: center;
    }
}



@media (min-width:768px) {

    header {
        height: 88px;
        position: sticky;
        top: 0;
        box-shadow: 0 1px 0px #72727238;
        display: flex;
        align-items: center;
        background-color: #FFFFFF;
    }


    .navbar-brand {
        margin: 0 1rem;
    }

    .navbar-nav {
        border-color: #3f3f3fb7;
        border-style: solid;
        border-radius: 2rem;
        border-width: 1px;
        padding: 0 1rem;
        font-size: 1rem;
        font-weight: 300;
    }

    .nav-link {
        color: #000000;
        padding: 0.25rem 1rem !important;
        margin: 0.5rem 0rem;
        border-radius: 2rem;
    }

    .navbar__press-on {
        background-color: #8873F0;
        border-radius: 2rem;
        color: #ffffff;
        font-weight: 600;
    }

    .navbar__press-off:hover {
        font-weight: 300;
        border-radius: 2rem;
        color: #5a4ba6;
    }


}

@media (max-width:681px) {
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #292730;
        background-color: #FCDA69;
        border-radius: 1rem;
        font-size: 1rem;
        font-weight: 400;
        margin: 1rem;
        padding: 1rem 1.5rem;
        text-decoration: none;
        
    }

    .text-button {
        display: flex;
        justify-content: center;
        font-size: 1rem;
        font-weight: 400;
        text-decoration: none;
        color: #141313;
        padding: 1rem;
    }

    .imgpersonal__home {
        max-width: 312px;
        max-height: 284px;
    }
}

@media (min-width:850px) {

    header {
        height: 88px;
        position: sticky;
        top: 0;
        box-shadow: 0 1px 0px #72727238;
        display: flex;
        align-items: center;
        background-color: #FFFFFF;
    }


    .navbar-brand {
        margin: 0 1rem;
    }

    .navbar-nav {
        border-color: #3f3f3fb7;
        border-style: solid;
        border-radius: 2rem;
        border-width: 1px;
        padding: 0 1rem;
        font-size: 1.125rem;
        font-weight: 300;
    }

    .nav-link {
        color: #000000;
        padding: 0.25rem 1rem !important;
        margin: 0.5rem 0rem;
        border-radius: 2rem;
    }

    .navbar__press-on {
        background-color: #8873F0;
        border-radius: 2rem;
        color: #ffffff;
        font-weight: 600;
    }

    .navbar__press-off:hover {
        font-weight: 300;
        border-radius: 2rem;
        color: #5a4ba6;
    }
}


@media (max-width:767px) {

    header {
        position: sticky;
        box-shadow: 0 1px 0px #72727238;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background-color: #ffffff;
    }

    .navbar-expand-md {
        display: flex;
        align-items: center;
        background-color: #ffffff;

    }

    .navbar-nav {
        position: top;
        display: flex;
        padding: 1rem 0rem;
        font-size: 1.125rem;
        font-weight: 300;

    }
}